AddType application/manifest+json .webmanifest
AddType image/svg+xml .svg

<IfModule mod_headers.c>
  <FilesMatch "\.(html)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </FilesMatch>

  <FilesMatch "\.(js|css|svg|webmanifest|json)$">
    Header set Cache-Control "public, max-age=3600"
  </FilesMatch>
</IfModule>

DirectoryIndex index.html
